/*!==================== MEDIA QUERY ====================*/



/* for extra large screens */
@media screen and (min-width: 1200px) {
    :root {
        --body-color: white;
    }
}

/* for Desktop, laptops */
@media screen and (max-width: 1200px) {
    :root {
        --body-color: pink;
    }

    .main_pannel {
        width: 80%;
    }

    .scrollup {
        right: 3rem;
        padding: 0.1rem;
    }

    .show-scroll {
        bottom: 3rem;
        right: 3rem;
    }

    .skills-card>span {
        font-size: var(--small-font);
    }

    .contrib-column {
        font-size: 15px;
    }

    .contrib-number {
        font-size: 20px;
    }
}

/* for small screen, laptops */
@media screen and (max-width: 1040px) {
    :root {
        --body-color: #fff;
    }

    .project-description {
        font-size: var(--smaller-font);
    }

    .project-tech-stack {
        margin-bottom: 0;
        gap: 0.5rem;
    }

    .skills-card>span {
        font-size: var(--smaller-font);
    }

    .about_left>p {
        font-size: calc(var(--smaller-font)+10px);
    }

    .home_container>p {
        font-size: calc(var(--smaller-font)+10px);
    }

    .contact_form>span, .contact-info-container>span {
        font-size: var(--medium-font);
    }

    /* ------------- Skills Section ----------- */

    .fs_container, .bs_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin-bottom: 40px;
    }

    /* ------------- github Section ----------- */
    .contrib-column {
        font-size: 12px;
    }

    .contrib-number {
        font-size: 15px;
    }
}

/* for small screen, laptops */
@media screen and (max-width: 820px) {
    :root {
        --body-color: red;
    }

    .project-description {
        font-size: var(--smaller-font);
    }

}

/* For medium devices - iPads, Tablets */
@media screen and (max-width: 768px) {
    :root {
        --body-color: purple;
    }
    /* ------------- padding ----------- */
    .home.section{

    }
    #projects{
        padding: 80px 0;
    }
    #about{
        padding: 80px 0;
    }
    #skills{
        padding: 80px 0;
    }
    #github{
        padding-bottom: 80px;
    }

    /* ------------- navigation bar ----------- */
    .navigation_box {
        display: none;
    }

    /* ------------- side pannels ----------- */
    .left_pannel {
        display: none;
    }

    .right_pannel {
        display: none;
    }

    /* ------------- Home Section ----------- */
    .home_container>h3+h1 {
        font-size: clamp(50px, 6vw, 80px);
    }

    .home_container>h3+h1+h1 {
        font-size: clamp(40px, 6vw, 50px);
    }

    .home_container>p {
        font-size: var(--small-font);
    }

    /* ------------- About Section ----------- */
    #about {
        height: auto;
    }

    .about_container {
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    .about_img_container {
        width: 50%;
    }

    /* ------------- Project Section ----------- */

    .project-card-last {
        margin-bottom: 0;
    }

    .project-card {
        flex-direction: column;
    }

    .project-card_img_section {
        width: 100%;
    }

    .project-card_description_section {
        position: relative;
        width: 100%;
        align-items: center;
    }

    .project-card_description_section>h4 {
        display: none;
    }

    .project-title {
        margin: 20px 0 10px 0;
    }

    .project-description {
        background: transparent;
        box-shadow: none;
        padding: 0;
        margin-bottom: 10px;
    }

    .project-description>p {
        width: 80%;
        text-align: center;
    }

    .project-card_img_section {
        padding: 0;
    }

    .project-tech-stack {
        margin-bottom: 10px;
    }

    /* ----- project flip ----- */
    #project-flip-img {
        padding: 0;
    }

    #project-flip-description {
        align-items: center;
    }

    #project-card-flip {
        justify-content: flex-end;
        flex-direction: column-reverse;
    }

    /* ------------- Skills Section ----------- */

    .fs_container, .bs_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-bottom: 40px;
    }

    /* ------------- github Section ----------- */
    .section__title {
       font-size: var(--medium-font);
    }
    .contrib-column {
        font-size: 8px;
    }

    .contrib-number {
        font-size: 12px;
    }
    .github_carousel_container{
        height: 200px;
    }
    /* ------------- Contact Section ----------- */
    .contact_container_pc {
        display: none;
    }

    .contact-mobile-active {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 80%;
        justify-content: center;
    }

    /* --------- mobile contact section ------- */
    .contact-mobile-active>span {
        font-size: clamp(30px, 8vw, 40px);
        color: var(--text-light);
        font-weight: 900;
    }

    .contact-mobile-active>p {
        width: 90%;
        text-align: center;
        color: var(--text-light);
    }

    .contact-mobile-active>a {
        padding: 12px 25px;
        border-radius: 4px;
        color: var(--first-color);
        margin-top: 20px;
        border: 2px solid var(--first-color);
    }

    /* --------- mobile footer icons ------- */
    .mobile_footer_icons {
        display: block;
        width: 100%;
    }
    
    .mobile_footer_icons>div {
        width: 50%;
        padding: 0 5px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    
    .mobile_footer_icons>div>img {
        width: 20px;
    }

    /* --------- Project ------- */
    .project-description>p {
        width: 100%;
    }
    .project-title {
        font-size: var(--small-font);
    }
    .project-card{
        margin-bottom: 80px;
    }
    #projects{
        padding-bottom: 0;
    }
}


/* For Mobile */
@media screen and (max-width: 480px) {
    :root {
        --body-color: greenYellow;
    }
      /* ------------- Home Section ----------- */
      .home_container>h3+h1 {
        font-size: clamp(30px, 5vw, 40px);
    }

    .home_container>h3+h1+h1 {
        font-size: clamp(20px, 5vw, 30px);
    }

    .home_container>p {
        font-size: var(--smaller-font);
    }

}

@media screen and (max-width: 320px) {
    :root {
        --body-color: skyblue;
    }
}