@import "styles.css";

/* !==============|Left Pannel|============== */
.left_pannel{
    width: 8%;
    top: 0;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.left_pannel> .icon_container{
    display: flex;
    flex-direction: column;
}
.icon_container>a{
    width: 20px;
    height: 20px;
    /* padding: 10px; */
    margin-bottom: 20px;
    color: var(--text-light);
}
.icon_container>a:hover{
    color: var(--first-color);
    transform:translateY(-3px)
}
.icon_container::after{
    content: "";
    display: block;
    width: 0.1px;
    height: 90px;
    margin: 0px auto;
    margin-top: 6px;
    background-color: var(--text-light);
}

/* !===============|Right Pannel|=============== */
.rigth_pannel{
    width: 8%;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    /* background: rgb(231, 159, 159); */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.rigth_pannel>.email_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email_container>a{
    font-size: var(--smaller-font);
    letter-spacing: 1.3px;
    writing-mode: vertical-rl;
    color: var(--text-light);
}
.email_container>a:hover{
    color: var(--first-color);
    transform:translateY(-3px)
}
.email_container::after{
    content: "";
    display: block;
    width: 0.1px;
    height: 90px;
    margin: 0px auto;
    margin-top: 10px;
    background-color: var(--text-light);
}

/* !=================|Navigation Pannel|============= */
.navigation{
    width: 100%;
    height: 80px;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    position: fixed;
    top: 0;
    background-color: rgba(9, 20, 40, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px -10px #05071a;
}
.nav_container{
    width: 93%;
    /* background-color: aqua; */
    /* height: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav_logo{
    color: var(--first-color);
    border: 3px solid var(--first-color);
    padding: 10px 18px;
    font-size: var(1.25rem);
    font-weight: 900;
    border-radius: 50%;
}
.navigation_box{
    display: flex;
    align-items: center;
}
.navigation_box>ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-bottom: 0;
    margin-right: 10px;
}
.navigation_box>ul>li{
    padding-left: 18px;
    font-size: var(--smaller-font);
    font-weight: 500;
    color: var(--first-color);
}
.navigation_box>ul>li:hover a{
    color: var(--first-color);
    transition: ease-in-out 0.25s;
}
.navigation_box>ul>li>a{
    color: var(--text-light);
}
.nav_container a{
    letter-spacing: 0.8px;
}
.navigation_box>a{
    font-size:var(--smaller-font);
    font-weight: 600;
    display: flex;
    padding: 7px 10px;
    border-radius: 4px;
    letter-spacing: 0.5px;
    margin-left: 18px;
    border: 1px solid var(--first-color);
    color: var(--first-color);
}
.navigation_box>a:hover{
    background: var(--first-color);
    color: var(--body-color);
}

/* !=================|Main Pannel|============= */
.main_pannel{
    width: 70%;
    margin: auto;
    /* height: 200vh; */
    /* border: 1px solid white; */
}

/*! -------------|Home section|----------- */

.home.section{
    /* height: calc(100vh - 80px); */
    height: 100vh;
    display: flex;
    /* background: red; */
    align-items: center;
}
.home_container{
    width: 100%;
    position: relative;
    text-align: left;
}
.home_container>h3{
    color: var(--first-color);
    font-weight: 500;
    font-size: var(--small-font);
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}
.home_container>h3+h1{
    font-size: var(--ultra-big-font);
    color: var(--text-lighter);
    line-height: 88px;
    margin-left: -4px;
    margin-bottom: 10px;
    font-weight: 600;
}
.home_container>h3+h1+h1{
    font-size: var(--ultra-medium-font);
    color: var(--text);
    margin-left: -3px;
    /* margin-bottom: 20px; */
    line-height: 72px;
    font-weight: 900;
}
.home_container>p{
    width: 55%;
    word-wrap: none;
    font-size: var(--small-font);
    color: var(--text);
    margin-top: 20px;
    line-height: 26px;
    letter-spacing: 0.3px;
    margin-bottom: 50px;
}
.home_container>a{
    border: 1px solid var(--first-color);
    color: var(--first-color);
    padding: 15px 40px;
    border-radius: 4px;
    display: flex;
    width: fit-content;
    align-items: center;    
    font-size: var(--medium-font);
}
.home_container>a>i{
    margin-left: 10px;
}
.home_container>a:hover{
    background: var(--first-color);
    color: var(--body-color);
    font-weight: 600;
}

/*! -------------|About section|----------- */
.about.section{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
/* background: red; */
}
.about_container{
    width: 100%;
    display: flex;
}
.about_left{
    width: 60%;
    padding-right: 20px;
    /* background: red; */
}
.about_left>p{
    font-size: var(--small-font);
    line-height: 26px;
    margin: 0 0 15px;
    color: var(--text);
}

.about_left>p>a{
    color: var(--first-color);
}
.about_stats{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
}
.about_stats>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats_number{
    color: var(--first-color);
    font-size: var(--medium-font);
    font-weight: 600;
}
.stats_title{
    color: var(--text-lighter);

    font-weight: 400;
}
/* ---------- */
.about_right{
    width: 40%;
    display: flex;
    justify-content: center;
}
.about_img_container{
    width: 70%;
    height: 55%;
    /* aspect-ratio: 1/1; */
    overflow: hidden;
    margin-top: 80px;
    border-radius: 4px;
    transition: ease-in-out 0.25s;
}
.about_img_container>img{
    transform: scale(1.2) translateY(-10px);
    aspect-ratio: 3/5;
    object-fit: contain;
}
.about_img_container:hover{
    transform: translate(-3px, -5px);
}
#resume-link-2{
    border: 1px solid var(--first-color);
    color: var(--first-color);
    padding: 15px 40px;
    border-radius: 4px;
    margin: auto;
    display: flex;
    align-items: center;
    width:fit-content;
    font-size: var(--medium-font);
}
#resume-link-2>i{
    margin-left: 10px;
}
#resume-link-2:hover{
    background: var(--first-color);
    color: var(--body-color);
    font-weight: 600;
}

/*! -------------|Project section|----------- */
#projects>.section_title::after{
    width: 50%;
    flex: 0.48
}
.project-card{
    position: relative;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
}
#project-card-flip{
    justify-content: flex-end;
}
.project-card_img_section{
    width: 60%;
    /* height: 350px; */
    /* background: #000; */
    padding-right: 20px;
    overflow: hidden;
}
.project-card_img_section>img{
    border-radius: 4px;
    width: 100%;
}

.project-card_description_section{
width: 45%;
position: absolute;
height: 100%;
top: 0;
right: 0;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;
color: white;
}
#project-flip-description{
left: 0;
align-items: flex-start;
z-index: 100;
}
#project-flip-description>.project_btn>a{
    margin-left: 0;
    margin-right: 20px;
}
#project-flip-img{
    padding-right: 0;
    padding-left: 20px;
}
.project-card_description_section>h4{
    font-size: var(--smaller-font);
    color: var(--first-color);
    font-weight: 900;
    margin-bottom: 8px;
    font-weight: 400;
}
.project-title{
    font-size: var(--large-font);
    color: var(--text-lighter);
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: ease-in-out 0.25s;
}
.project-title:hover{
    color: var(--first-color);
}
.project-description{
    display: flex;
    justify-content: center;
    background: var(--card-color);
    padding: 1.5rem;
    box-shadow: rgba(255, 255, 255, 0.226) -1px -1px 7px;
    margin-bottom: 20px;
    border-radius: 4px;
    z-index: 10;
}
.project-tech-stack{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 20px;
}
.project-tech-stack>span{
    color: var(--text-lighter);
    font-size: var(--smaller-font);
    transition: ease-in-out 0.25s;
    cursor: pointer;
}
.project-tech-stack>span:hover{
    color: var(--first-color);
}
.project_btn{
    display: flex;
}
.project_btn>a{
    width: 25px;
    margin-left: 20px;
    color: var(--text-lighter);
}
.project_btn>a:hover{
    color: var(--first-color);
}

/*! -------------|Skills section|----------- */
#skills{
    /* margin-bottom: 100vh; */
}
#skills>.section_title::after{
    width: 50%;
    flex: 0.48
}
.frontend-skills{
    width: 100%;
}
.frontend-skills>h1, .backend-skills>h1{
    font-size: var(--large-font);
    color: var(--text-light);
    margin-bottom: 20px;
}
.fs_container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
    margin-bottom: 40px;
}
.bs_container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
    margin-bottom: 40px;
}
.skills-card{
    padding: 12px;
    border: 2px solid var(--first-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.25s;
}
.skills-card:hover{
    background: rgb(100, 255, 218,0.05);
    transform: translate(-2px,-5px);
}
.skills-card:hover span{
    color: var(--first-color);
}
.skills-card>img{
    width: 50%;
    height: 50%;
}
.skills-card>span{
    height: 20%;
    margin-top: 15px;
    color: var(--text-lighter);
    font-weight: 700;
    font-size: var(--medium-font);
}

/*! -------------|Github section|----------- */
.section__title{
    color: var(--text-lighter);
    font-weight: 700;
    margin-bottom: 40px;
}
.carousel-indicators{
    top: 100%;
    margin-top: 20px;
}
.github_carousel_container{
    position: relative;
    display: flex;
    justify-content: center;
    height: 300px;
}
.github-carousel-window{
    width: 70%;
}

/*! -------------|Github section|----------- */
#contact>.section_title::after{
    flex: 0.5;
    /* width: 50%; */
}
